.navbar{
  color: white !important;
}
.main{
  width: 100%;
}
.link{
  text-decoration: none;
  cursor: pointer;
}
.link:link {
  text-decoration: none;
  cursor: pointer;
}

.link:visited {
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}

.link:active {
  text-decoration: underline;
  cursor: pointer;

}

.white{
  color: white;
}
.table{
  width: 80% !important;
  margin: auto;
  border-radius: 20px;
}

.dark{
  background: grey;
  color: white;
}

.flex-space-between{
  display: flex;
  justify-content: space-evenly;
}

.text-center{
  text-align: center;
  padding-bottom: 2em;
}

.csv-container{
  width: 80%;
  margin: 2em auto;
}